/*¹«¹²ÑùÊ½²¿·Ö*/
*{ margin:0; padding:0}
/*body {	font: normal 12px »ªÎÄÏ¸ºÚ,Î¢ÈíÑÅºÚ, Arial; -webkit-text-size-adjust:none; background:#FFF}*/
body {	font:'Î¢ÈíÑÅºÚ '!important; font-size:12px; background:#FFF}
a {text-decoration: none;}
a:link{ text-decoration: none}
a:visited{ text-decoration: none}
a:hover{text-decoration: none}
a:active{text-decoration: none}
h1 {font-size: 1.4em;text-align: center;color: #000;}
small {font-size: 0.875em;}
img {max-width: 100%;/*width: 100%;*/-ms-interpolation-mode: bicubic; border:none; vertical-align:top;}
img, object {max-width: 100%; height: auto;}
.clear:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
ul,li,dt,dl,dd{	list-style-type: none;	margin: 0px; padding: 0px; background:none; }
p {	margin: 0px;padding: 0px;}
.fl{ float:left;}
.fr{ float:right;}
a,input,button{ outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.box{position:relative;}
#showsPic .parHd { position:absolute; right:45%; bottom:20px; }
#showsPic .parHd ul { float:right; }
#showsPic .parHd li { float:left; width:15px; height:15px; margin:0 5px; border-radius:100%; background:#ffffff; text-indent:-999em; overflow:hidden; }
#showsPic .parHd li.on { background:#F00; }
.hm_body{width:640px;height:auto;margin:0 auto;}
.header{width:640px;height:105px;background:#3c0466;}
.top-head-l{width:46px;height:39px;padding:33px 35px 0 20px;}
.top-head-c{width:443px;height:50px;padding:27px 35px 0 0px;}
.top-head-r{width:35px;height:49px;padding:28px 0px 0 0;}
.header-nav{width:600px;height:60px;margin:0 auto;padding:0 20px;background:#f5f5f5;}
.header-nav ul li{width:80px;line-height:60px;float:left;text-align:center;font-size:18px;padding:0 20px;
}
.header-nav ul li a{color:#000;}
.header-nav ul li span{width:21px;height:21px;margin:20px 0 0 15px;display:block;float:left;}
#marquee6{width:640px;height:56px;background:#f5f5f5;line-height:56px;font-size:20px;overflow:hidden;}
#marquee6 ul li{background:url(../img/ico-lb.png) 20px center no-repeat;}
#marquee6 ul li a{margin-left:55px; color:#d70a50;}
.xm_box{width:640px;height:auto;}
.xm_box ul li{float:left;}
.xm_box ul li a img{width:320px;height:227px;}
.yk1{ width:640px; margin:0px auto;}
.yk1>ul{ width:600px; margin:10px auto;}
.yk1>ul>li{ width:115px;float:left;height:60px;line-height:45px;margin-left:30px;}
.yk1>ul>li>a{width:115px;height:45px;display:block;background:#f1f0ef;border:1px solid rgba(102,0,102,0.2);border-radius:8px; text-align:center;font-size:18px;color:#3c0466;background-size:contain;}
.yk-h{margin:15px auto;}
.xdh_gy{margin:0 auto; width:640px; height:40px; background:#ededed; }
.xdh_gy ul li{display:block;float:left; width:33%; height:40px; line-height:40px;text-align:center; border-bottom:1px solid #FFFFFF; }
.xdh_gy a,.youshi ul li a{ color:#333; text-decoration:none;}


.footer {margin:0 auto; width:640; height:160px;text-align:center;background:#ededed; }
.footer p { font:14px/24px "Î¢ÈíÑÅºÚ", Microsoft YaHei; color:#666; }



.xdh_gy,.xdh{margin:0 auto; width:640; height:40px; background:#ededed; }
.xdh_gy ul li,.xdh ul li{display:block;float:left; width:200px; height:40px; line-height:40px;text-align:center; border-bottom:1px solid #FFFFFF; }
.xdh_gy a,.youshi ul li a,.xdh a{ color:#333; text-decoration:none;}


.footer_gy,.footer{margin:0 auto; width:640px; height:180px;text-align:center; padding-top:20px;background:#ededed; }
.footer_gy p,.footer p{ font:14px/24px "Î¢ÈíÑÅºÚ", Microsoft YaHei; color:#525151; }
.footer_gy h3{font-size:20px;}
.footer_gy h2{font-size:16px;}
.footer_gy h1{font-size:16px;}

.flexslider {
	margin:30px auto 1px;
	position: relative;
	width: 640px;
	height: 407px;
	background:#a8a8a9;
	overflow: hidden;
	zoom: 1;
}

.flexslider .slides li {
	width: 526px;
	height: auto;
	margin:0 auto !important;
}

.flex-direction-nav a {
	width: 36px;
	height: 36px;
	line-height: 88em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background:url(../img/jt-r.png) left center no-repeat;
	right: 10px;
}

.flex-direction-nav .flex-prev {
	background:url(../img/jt-l.png) left center no-repeat;
	left:10px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
}

.flex-control-nav {
	width: 640px;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}
.xm-h{height:40px;width:620px;font-size:22px;color:#333;line-height:40px;background:#efefef;padding:0 10px;}
.xm-h a{color:#333;font-size:18px;}
.xm-h a:hover{color:#3c0466;}

.rmxm{width:640px;margin:1px auto 20px;height:auto;background:#fefefe;}
.rmxm ul li a{line-height:30px;font-size:14px;display:block;width:620px;border-bottom:1px dashed #999;color:#666;padding:0 10px;
}
.rmxm ul li a:hover{color:#3c0466;}
/*ÎÄÕÂÒ³*/
/* ÎÄÕÂÒ³ */
.wzy{ width:640px; padding:15px 0px; margin:0px auto; font-size:14px;}
.wzy h5{font:24px/30px "Î¢ÈíÑÅºÚ", Microsoft YaHei; text-align:center;color:#282828;}
.wzy_jj{ width:640px; border-bottom:1px dashed #ccc; text-align:center; line-height:24px; padding-bottom:5px;}
.wzy-con{ padding-bottom:15px; border-bottom:1px dashed #ccc;}
.wzy-con p{ padding:2px 0px; line-height:22px; font-size:18px;color:#282828;text-indent:36px;}
.wzy_zx{ width:640px; margin-top:20px;color:#282828;}
.wzy_zx span{ text-align:left;font-size:20px;}
.wzy_zx p{font-size:18px;color:#282828;text-indent:36px;text-align:left;}
.wzy_sxp{ padding:12px 0px;}
.wzy_sxp a{ font-size:16px; line-height:24px;color:#282828;}
.wzy_sxp a:hover{color:#6a356a;text-decoration:underline;}
.wzy_sxp span{font-size:18px;color:#6a356a;}
.wzy p{padding:5px 15px;}
.td{font-size:18px;color:#F00;text-align:center;}
.sj p{padding:2px 10px; line-height:22px; font-size:18px;color:#282828;text-indent:36px;}
 /*Ò½Ôº¶¯Ì¬*/
 .yydt{width:640px; margin:0px auto;}
 .yydt-h{width:640px;height:58px;line-height:58px;background:#f7f2f7; padding:0px 10px; }
  .yydt-h h5{width:512px;height:58px;line-height:58px;color:#444444;font-size:22px;}
  .yylist{width:602px; padding:0px 10px;margin:0 auto;}
  .yylist ul li span{color:#3c0466;}
  .yylist ul li{width:640px;height:50px;line-height:50px;border-bottom:1px dashed #a29e9e;font-size:18px;color:#444444;}
  	.list_mum{ text-align: center; margin: 10px 0 0;}
.list_mum a{font-size:16px;color:#444444;}
.list_mum a:hover{font-size:16px;color:#000000;}
	 .yydt-h img{margin:15px 10px 0 10px;}
